[submodule "libs/rbp-marble"]
	path = libs/rbp-marble
	url = https://github.com/info-rbp/rbp-marble.git
[submodule "libs/odoo"]
	path = libs/odoo
	url = https://github.com/info-rbp/odoo.git
	branch = 19.0
[submodule "libs/rpb-lending"]
	path = libs/rpb-lending
	url = https://github.com/info-rbp/rpb-lending.git
	branch = develop
